
<!-- <button mat-button (click)="addRow()">Agregar</button> -->
 @if (!editMode) {
   <button mat-flat-button (click)="editMode = !editMode">Editar</button>
 } @else {
   <button mat-button (click)="editMode = !editMode">Cancelar</button>
   <button mat-flat-button (click)="editMode = !editMode">Guardar</button>
 }

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="processId">
    <th mat-header-cell *matHeaderCellDef> id del proceso. </th>
    <td mat-cell *matCellDef="let element"> {{element.processId}}
    </td>
  </ng-container>


  <ng-container matColumnDef="originNit">
    <th mat-header-cell *matHeaderCellDef> Nit de origen </th>
    <td mat-cell *matCellDef="let element"> {{element.originNit}}
    </td>
  </ng-container>


  <ng-container matColumnDef="nameOriginator">
    <th mat-header-cell *matHeaderCellDef> Nombre del originador </th>
    <td mat-cell *matCellDef="let element"> {{element.nameOriginator}}
    </td>
  </ng-container>


  <ng-container matColumnDef="originatorAccount">
    <th mat-header-cell *matHeaderCellDef> cuenta del originador </th>
    <td mat-cell *matCellDef="let element"> {{element.originatorAccount}}
      @if(editMode) {
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="element.originatorAccount" (change)="changeAccount($event, element)">
        </mat-form-field>
      }
    </td>
  </ng-container>


  <ng-container matColumnDef="originatorIdentification">
    <th mat-header-cell *matHeaderCellDef> Identificación del originador </th>
    <td mat-cell *matCellDef="let element"> {{element.originatorIdentification}}
      @if(editMode) {
        <mat-form-field appearance="outline" style="width: 180px;">
          <input matInput [(ngModel)]="element.originatorIdentification" (change)="changeIdentification($event, element)">
        </mat-form-field>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="effectiveDate">
    <th mat-header-cell *matHeaderCellDef> Fecha Efectiva </th>
    <td mat-cell *matCellDef="let element"> {{element.effectiveDate  }}
      @if(editMode) {
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker" [(ngModel)]="element.effectiveDate" (ngModelChange)="changeDate($event, element)">
          <mat-datepicker-toggle matIconSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      }
    </td>


  </ng-container>

  <ng-container matColumnDef="transactionNumber">
    <th mat-header-cell *matHeaderCellDef> Numero de transacción </th>
    <td mat-cell *matCellDef="let element"> {{element.transactionNumber}}
    </td>
  </ng-container>

  <ng-container matColumnDef="totalTransactionValue">
    <th mat-header-cell *matHeaderCellDef> Valor total de la transacción </th>
    <td mat-cell *matCellDef="let element"> {{element.totalTransactionValue }}
      @if(editMode) {
        <mat-form-field appearance="outline" style="width: 180px;">
          <input matInput [(ngModel)]="element.totalTransactionValue" (change)="changeValue($event, element)">
        </mat-form-field>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="nameFile">
    <th mat-header-cell *matHeaderCellDef> Nombre del archivo </th>
    <td mat-cell *matCellDef="let element"> {{element.nameFile}}
    </td>
  </ng-container>

  <ng-container matColumnDef="lotDescription">
    <th mat-header-cell *matHeaderCellDef> Descripción del lote </th>
    <td mat-cell *matCellDef="let element"> {{element.lotDescription}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

@if (!editMode) {
  <section class="container-buttons">
    <button mat-button (click)="clearData()">Cancelar</button>
    <button mat-flat-button (click)="saveData()">Procesar</button>
  </section>
}
