.container{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.upload-card {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #3f51b5;
  cursor: pointer;
  text-align: center;
}

.upload-area {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f51b5;
  font-size: 18px;
}
